@import '../../../styles/settings.scss';

// .root {
// }

.logLink {
    border: 1px;
    background-color: #74b9ff;
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 2px 2px 2px #74b9ff;
}